danielnuest.bib.bak
publications-software-teaching-blx.bib
publications-software-teaching.aux
publications-software-teaching.bbl
publications-software-teaching.blg
publications-software-teaching.log
publications-software-teaching.out
publications-software-teaching.pdf
publications-software-teaching.run.xml
publications-software-teaching.synctex.gz
*.aux
*.bbl
*.blg
*.dvi
*.log
*-blx.bib
*.run.xml
*.gz
*.out
publications-daniel-nuest.pdf
*.Rhistory

*.fdb_latexmk

*.fls
publications-daniel-nuest.bcf
